
.icon-add-icon:before { content: '\e800'; } /* '' */
.icon-adress:before { content: '\e801'; } /* '' */
.icon-arrow-down-icon:before { content: '\e802'; } /* '' */
.icon-arrow-icon:before { content: '\e803'; } /* '' */
.icon-back-button:before { content: '\e804'; } /* '' */
.icon-delivery-icon:before { content: '\e805'; } /* '' */
.icon-distance-icon:before { content: '\e806'; } /* '' */
.icon-localization-icon:before { content: '\e807'; } /* '' */
.icon-logo:before { content: '\e808'; } /* '' */
.icon-filter-icon:before { content: '\e809'; } /* '' */
.icon-minus-icon:before { content: '\e80a'; } /* '' */
.icon-navigation-icon:before { content: '\e80b'; } /* '' */
.icon-pickup-icon:before { content: '\e80c'; } /* '' */
.icon-radio-button:before { content: '\e80d'; } /* '' */
.icon-radio-button-1:before { content: '\e80e'; } /* '' */
.icon-search-icon:before { content: '\e80f'; } /* '' */
.icon-shopping-cart-icon:before { content: '\e810'; } /* '' */
.icon-star-filled-icon:before { content: '\e811'; } /* '' */
.icon-star-outline:before { content: '\e812'; } /* '' */
.icon-time:before { content: '\e813'; } /* '' */
.icon-asian-icon:before { content: '\e814'; } /* '' */
.icon-breakfast-icon:before { content: '\e815'; } /* '' */
.icon-dessert-icon:before { content: '\e816'; } /* '' */
.icon-fast-food-icon:before { content: '\e817'; } /* '' */
.icon-healthy-icon:before { content: '\e818'; } /* '' */
.icon-burger-icon:before { content: '\e819'; } /* '' */
.icon-ice-cream-icon:before { content: '\e81a'; } /* '' */
.icon-indian-icon:before { content: '\e81b'; } /* '' */
.icon-italian-icon:before { content: '\e81c'; } /* '' */
.icon-seafood-icon:before { content: '\e81d'; } /* '' */
.icon-korean-icon:before { content: '\e81e'; } /* '' */
.icon-pizza-icon:before { content: '\e81f'; } /* '' */
.icon-sushi-icon:before { content: '\e820'; } /* '' */
.icon-vegan-icon:before { content: '\e821'; } /* '' */
